@use "../variables.scss";

.infos {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  border-radius: 8px;
  white-space: nowrap;

  .container-info {
    display: flex;
    gap: 40px;
  }

  background-color: variables.$txtColorPrimary;
  &__item {
    &__title {
      color: variables.$txtColorSecundary;
      font-weight: bold;
      margin-bottom: 8px;
    }

    &__info {
      color: variables.$txtColorSecundary;
    }
  }

  @media (max-width: 640px) {
    display: block;
    white-space: wrap;

    .container-info {
      display: block;
    }

    &__item {
      margin-bottom: 16px;
    }
  }

  @media (max-width: 1024px) {
    gap: 10px;
  }
}
